# Virtual Environment
env/

# Database instance
instance/

# Database schema migrations
migrations/

# Static files
static/

# Python Compiled Files
__pycache__/

# For debugging cleanup
delete_records.py