#calendar-widget {
    text-align: center;
    margin: 20px 0;
}
#calendar-widget h5 {
    font-weight: normal;
}
#calendar-widget .form-control {
    display: inline-block;
    width: auto;
    max-width: 200px;
}

.journal-header {
    margin: 20px;
    padding: 15px;
    background-image: linear-gradient(to right, #1c2290, #306cc1);
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.journal-header h2 {
    color: #fff;
    font-weight: 500;
    font-size: xx-large;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.journal-container {
    max-height: 500px;
    overflow-y: auto;
    padding: 15px;
    background-color: #f0f2f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.journal-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.journal-table th,
.journal-table td {
    padding: 12px 15px;
    text-align: center;
}

.journal-table th {
    background-color: #6c5ce7;
    color: #fff;
    font-weight: 600;
}

.journal-table tbody tr:hover {
    background-color: #f0f0f0;
}

.journal-table .entry-note {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#add-transaction {
    background-image: linear-gradient(to right, #530f72, #ba46be);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: font-size 0.3s;
}

#add-transaction:hover {
    background-image: linear-gradient(to right, #ba46be, #530f72);
    border: 1px solid rgb(97, 5, 97);
    font-size: 1.2em;
}