<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>Dashboard</title>

        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel = "stylesheet">
        <link href = "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel = "stylesheet">
        <link href = "https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap.min.css" rel = "stylesheet">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/dashboard.css') }}">
    </head>

    <body>
        <div class = "container mt-5">
            <div class = "d-flex justify-content-between align-items-center mb-4">
                <h1 class = "display-4 text-center">Finances Dashboard</h1>
                <a href = "{{ url_for('logout') }}" class = "btn btn-danger">Log Out</a>
            </div>

            <div id = "user-details" class = "my-4 p-3 bg-light rounded shadow-sm">
                <h3>Your Profile</h3>
                <p>Username: {{ current_user.username }}</p>
                <p>Email: {{ current_user.email }}</p>
                <h4>Income Details</h4>
                <p>Salary: &#x20B9;{{ current_user.income.salary }}</p>
                <p>Investments: &#x20B9;{{ current_user.income.investment or 0 }}</p>
                <p>Other Sources: &#x20B9;{{ current_user.income.other_sources or 0 }}</p>
            </div>

            <div id = "visualizations" class = "my-4">
                <h2>Analytics</h2>
                <div class = "row mt-4">
                    <div class = "col-lg-6 col-md-12">
                        <canvas id = "monthlyChart"></canvas>
                    </div>

                    <div class = "col-lg-6 col-md-12">
                        <canvas id = "weeklyChart"></canvas>
                    </div>
                </div>

                <div class = "row mt-4" style = "display: none;">
                    <div class = "col-lg-6 col-md-12">
                        <canvas id = "pieChart"></canvas>
                    </div>
                    <div class = "col-lg-6 col-md-12">
                        <canvas id = "weekwiseBar"></canvas>
                    </div>
                </div>
            </div>

            <div id = "transaction-journal" class="my-4">
                <div class = "journal-header">
                    <h2 class = "text-center">Transactions Journal</h2>
                </div>
                <div class = "Journal-container">
                    <table id = "journalTable" class = "journal-table table table-striped table-hover" style = "width:100%;">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th class = "entry-note">Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if transactions %}
                                {% for transaction in transactions %}
                                    {% set local_time = transaction.date.replace(tzinfo = tz.tzutc()).astimezone(tz.gettz('Asia/Kolkata')) %}

                                    <tr>
                                        <td>{{ local_time.strftime('%a %d-%b-%Y') }}</td>
                                        <td>{{ local_time.strftime('%H:%M') }}</td>
                                        <td>{{ transaction.type.upper() }}</td>
                                        <td>&#x20B9;{{ transaction.amount }}</td>
                                        <td class = "entry-note">{{ transaction.note }}</td>
                                    </tr>

                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan = "5" style = "padding: 30px; font-size: large; color: rgb(150, 143, 143);">No transactions found for the selected date.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class = "text-center mt-4">
                    <button id = "add-transaction" class = "btn btn-primary">Add a Transaction</button>
                </div>
            </div>

            <div id = "calendar-widget" class = "my-4 text-center">
                <h5 style = "font-family: Arial, sans-serif;">Select Date</h5>
                <div class = "d-inline-block">
                    <input type = "text" id = "datePicker" class = "form-control text-center" value = "{{ date.strftime('%a %d-%b-%Y') }}">
                </div>
            </div>
        </div>

        <div id = "transactionModal" class = "modal" tabindex = "-1" role = "dialog" data-backdrop = "static" data-keyboard = "false">
            <div class = "modal-dialog" role = "document">
                <div class = "modal-content">
                    <div class = "modal-header">
                        <h5 class = "modal-title">Add New Transaction</h5>
                        <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
    
                    <div class = "modal-body">
                        <form id = "transactionForm">
                            <div class = "form-group mb-3">
                                <label for = "transactionAmount" style = "margin-bottom: 5px; font-weight: 600;">Amount</label>
                                <input type = "number" step = "0.01" class = "form-control" id = "transactionAmount" min = "0" required>
                                <small class = "form-text text-danger" id = "amountError" style = "display: none;">Amount must be greater than 0.</small>
                            </div>
                            
                            <div class = "form-group mb-3">
                                <label for = "transactionType" style = "margin-bottom: 5px; font-weight: 600;">Type</label>
                                <select class = "form-control" id = "transactionType" required>
                                    <option value = "">Select Type</option>
                                    <option value = "debit">Debit</option>
                                    <option value = "credit">Credit</option>
                                </select>
                                <small class = "form-text text-danger" id = "typeError" style = "display: none;">Please choose a valid transaction type.</small>
                            </div>

                            <div class = "form-group mb-3">
                                <label for = "transactionNote" style = "margin-bottom: 5px; font-weight: 600;">Note</label>
                                <textarea class = "form-control" id = "transactionNote" maxlength="255"></textarea>
                            </div>

                            <div class = "form-group mb-3">
                                <label for = "transactionTime" style = "margin-right: 15px; font-weight: 600;">Time</label>
                                <input type = "text" id = "transactionTime" class = "time form-control text-center w-100" required>
                                <small class = "form-text text-danger" id = "timeError" style = "display: none;">Please select transaction time.</small>
                            </div>
                        </form>
                    </div>

                    <div class = "modal-footer">
                        <button type = "button" class = "btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type = "button" class = "btn btn-primary" onclick = "submitTransaction()">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <script>const visualizationData = {{ visualization_data|safe }};</script>
        <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script src = "https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src = "https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src = "https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src = "https://cdn.jsdelivr.net/npm/jquery-clock-timepicker@2.0.0/jquery-clock-timepicker.min.js"></script>
        <script src = "{{ url_for('static', filename='js/dashboard.js') }}"></script>

    </body>
</html>